
@model IEnumerable<WebApplication1.Models.Dentist>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #7dbcdc;
            color: white;
        }
    </style>
</head>

<h1>Please choose your dentist!</h1>

@using (@Html.BeginForm("PickDentist", "Patient", FormMethod.Get))
{
    @*HTML helper way of input for search
        @Html.TextBox("searchString",null, new {id = "custom-search-input", @class = "form-control input"});*@

    <div class="container" style="padding-left:0px; padding-right:0px; margin-bottom: 20px">
        <div class="row">
            <div class="col-md-3">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" id="searchString" name="searchString" class="form-control input" placeholder="Search first and last name..." />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div style="overflow-x:auto;">
    <table class="table">
        <thead class="thead-inverse">
            <tr style="font-family: ‘Arial Black’, Gadget, sans-serif;">
                <th>
                    @Html.ActionLink("First Name", "MyPatients", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Last Name", "MyPatients", new { sortOrder = ViewBag.LNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Date of birth", "MyPatients", new { sortOrder = ViewBag.BDateSortParm })
                </th>
               
                <th>
                    @Html.ActionLink("Phone Number", "MyPatients", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    @Html.ActionLink("Address", "MyPatients", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    @Html.ActionLink("Email", "MyPatients", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    Dentist profile
                </th>
                <th style="color:#335381"></th>
            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.FirstName).ToHtmlString(), "ChooseDentist", new { id = item.Id }, new { @style= "font-family: 'Tahoma'; font-size: 16px;" })
                </td>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.LastName).ToHtmlString(), "ChooseDentist", new { id = item.Id }, new { @style = "font-family: 'Tahoma'; font-size: 16px;" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="color:#335381; float:right">
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.FirstName).ToHtmlString() + "'s profile", "SeeDentistProfile", new { id = item.Id }, new { @class = "btn btn-info " }) 
                    @Html.ActionLink("Choose Dentist", "ChooseDentist", new { id = item.Id }, new { @class = "btn btn-primary " })
                </td>
            </tr>
        }

    </table>
</div>