@using Kendo.Mvc
@using Kendo.Mvc.UI
@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.Patient> 


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Created</th>
        <th>Address</th>
        <th>E-mail</th>
        <th>Medical History</th>
    </tr>
    @foreach (var patient in Model)
    {
        <tr>
            <td>@patient.FirstName</td>
            <td>@patient.LastName</td>
            <td>@patient.DateCreated</td>
            <td>@patient.Address</td>
            <td>@patient.Email</td>

        </tr>
    }

</table>

