@using Kendo.Mvc.UI
@model WebApplication1.ViewModels.Dentist.DentistIndexData


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Created</th>
        <th>Address</th>
        <th>Patients</th>
        <th>First Name</th>
    </tr>
    @foreach (var item in Model.Dentists)
    {
        string selectedRow = "";
        if (item.Id == ViewBag.DentistId)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new {id = item.Id}) |
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>

    }
</table>

@if (Model.Patients != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Patients)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.DentistId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.Id })
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
            </tr>
        }

    </table>
}
