@model WebApplication1.ViewModels.PatientProfileViewModel
@using WebApplication1.Enumerations
<div class="col-lg-12 col-xs-12">
    <div class="col-lg-6 col-sm-12">
        <h2 style="color:black; font-family:Arial, Helvetica, sans-serif;">List of all medical records</h2>
    </div>

    <div class="col-lg-6 col-sm-12">
        <p style="float:right; margin-top: 20px;">@Html.ActionLink("Insert new medical record", "MedicalRecord", new { id = Model.Patient.Id }, new { @class = "btn btn-success " })</p>
    </div>
</div>

<hr />
<ul>
    @foreach (var item in Model.MedicalRecords)
    {
        <span style="color:black; font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; font-size:large;"> @Html.DisplayFor(modelItem => item.DateCreated).ToHtmlString()</span>
        <br>
        <pre style="background-color: #05A9CF;">               
        <span style="color: white; padding-top: 5px; padding-bottom: 5px; float:left; font-family: Tahoma, Geneva, sans-serif; font-size:x-large;">Description</span>             
        <pre style="background-color:white;"> <br>
        <span style="color:black; font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;font-size: 20px;">@Html.DisplayFor(modelItem => item.Description).ToHtmlString()</span>            
         </pre> 
        <span style="color:white; font-size:large; font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;font-size:x-large;">Position: @Html.DisplayFor(modelItem => item.ToothPosition)</span>      
        <span style="color:white; font-size:large; font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;font-size:x-large;">State: @Html.DisplayFor(modelItem => item.ToothState)</span><span style="float: right; color:black; font-size:x-large;"> @Html.DisplayFor(modelItem => item.Bill)</span>
            </pre>
    }
</ul>






