@using Kendo.Mvc.UI
@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.Patient>


@{
    ViewBag.Title = "My Patients";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #7dbcdc;
            color: white;
        }
    </style>
</head>


<p style="text-decoration:underline; float:right; margin-right: 20px; margin-top:25px">
    @Html.ActionLink("Create New Patient", "Create", null, new { @class = "btn btn-success" })
</p>

@using (@Html.BeginForm("MyPatients", "Dentist", FormMethod.Get))
{
    @*HTML helper way of input for search
        @Html.TextBox("searchString",null, new {id = "custom-search-input", @class = "form-control input"});*@

    <div class="container" style="padding-left:0px; padding-right:0px; margin-top: 25px">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-sm-4 col-xs-6">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" id="searchString" name="searchString" class="form-control input" placeholder="Search first and last name..." />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div style="overflow-x:auto;">
    <table class="table" style="margin-top:15px">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.ActionLink("First Name", "MyPatients", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Last Name", "MyPatients", new { sortOrder = ViewBag.LNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Date of birth", "MyPatients", new { sortOrder = ViewBag.BDateSortParm })
                </th>
                <th>
                    @Html.ActionLink("Date Created", "MyPatients", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th style="color:#335381"></th>
            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.FirstName).ToHtmlString(), "PatientProfile", new { id = item.Id }, new { @style = "text-transform:capitalize; " })
                </td>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.LastName).ToHtmlString(), "PatientProfile", new { id = item.Id }, new { @style = "text-transform:capitalize;" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td style="color:#335381; float:right">
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.FirstName).ToHtmlString() + "'s Profile", "PatientProfile", new { id = item.Id }, new { @class = "btn btn-link", @style = "text-transform:capitalize;" })
                    <span id="Approve"> @Html.ActionLink(" ", "ApprovePatient", new { id = item.Id }, new { @class = "glyphicon glyphicon-ok" })</span>
                </td>

            </tr>
        }

    </table>
</div>
